<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

    <div th:each="userRequest : ${userRequests}">
        <div th:text="'건의 유형 : ' + ${userRequest.type}"></div>
        <div th:text="'건의 글 : ' + ${userRequest.content}"></div>
        <div th:text="'Email : ' + ${userRequest.member.email}"></div>
        <div th:if="${userRequest.question} != null">
            <div th:text="'QId : ' + ${userRequest.question.id}"></div>
            <div th:text="'질문 : ' + ${userRequest.question.title}"></div>
            <div th:text="'본문 : ' + ${userRequest.question.mainText}"></div>
            <div th:each="choice : ${userRequest.question.choices}">
                <div th:text="${choice.choice}"></div>
            </div>
        </div>

    </div>


    <a href="/admin" class="btn btn-outline-secondary">관리자 화면</a>

    <br/>

    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->

</body>
</html>