<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div class="form-group">
        <p type="text" th:text="${response.questionType}" class="text-xl-left" id="questionType"></p>
        <h3 type="text" th:text="${response.title}" class="text-xl-left" id="question"></h3>
        <p type="text" th:text="${response.mainText}" class="text-xl-left" id="mainText"></p>

        <div th:each="choice : ${response.choices}">
            <b type="text" th:text="${choice}" class="text-xl-left" id="choice"></b>
        </div>
    </div>

    <!-- form 생성 -->
    <form id="saveQuestionForm" method="post">

        <!-- var1 값 -->
        <input type="hidden" name="questionType" th:value="${response.questionType}" />
        <!-- var1 값 -->
        <input type="hidden" name="title" th:value="${response.title}" />

        <!-- var2 값 -->
        <input type="hidden" name="mainText" th:value="${response.mainText}" />

        <!-- varList 값을 반복하며 hidden input으로 전송 -->
        <div th:each="choice, iterStat : ${response.choices}">
            <input type="hidden" name="choices" th:value="${choice}" />
        </div>

        <button type="submit" class="submitButton btn btn-outline-primary" onclick="loading('/question/explanation/GPT', this)">문제 해설 보기</button>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->


<script>
    function loading(url, button) {
        button.disabled = true;
        button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';

        const form = document.getElementById("saveQuestionForm");
        form.action = url;
        form.submit();
    }
</script>
</body>
</html>