<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <form id="makeQuestion" role="form" action="" method="post">

        <div class="form-group">
            <label for="type">문제 유형 선택</label>
            <select name="type" id="type" class="form-control">
                <option value="">원하는 문제 유형을 선택해 주세요.</option>
                <option th:each="question : ${questionType}"
                        th:value="${question.getKey()}"
                        th:text="${question.getValue()}" />
            </select>
        </div>

        <div class="form-group">
            <label for="mainText">원문 입력</label>
            <textarea name="mainText" class="form-control" id="mainText" placeholder="생성하고자 하는 영어 지문을 입력하세요." rows="8"></textarea>
        </div>

        <br>
        <button type="submit" class="submitButton btn btn-primary" onclick="loading('/question/create/LLaMA', this)">AI 문제 생성</button>
        <button type="submit" class="submitButton btn btn-primary" onclick="loading('/question/createRandom/LLaMA', this)">AI 문제 무작위 생성</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

<script>
    function loading(url, button) {

        // 모든 class="createQuestion"인 버튼들을 비활성화
        const buttons = document.querySelectorAll('.submitButton');
        buttons.forEach(btn => {
            btn.disabled = true;  // 버튼 비활성화
        });

        button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';

        const form = document.getElementById("makeQuestion");
        form.action = url;
        form.submit();
    }
</script>

</body>
</html>
