<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div class="form-group">
        <p type="text" th:text="${response.questionType}" class="text-xl-left" id="questionType"></p>
        <h3 type="text" th:text="${response.title}" class="text-xl-left" id="question"></h3>
        <p type="text" th:text="${response.mainText}" class="text-xl-left" id="mainText"></p>

        <div th:each="choice : ${response.choices}">
            <b type="text" th:text="${choice}" class="text-xl-left" id="choice"></b>
        </div>
    </div>

    <!-- form 생성 -->
    <form id="saveQuestionForm" th:action="@{/question/result/save}" method="post">

        <!-- var1 값 -->
        <input type="hidden" name="questionType" th:value="${response.questionType}" />
        <!-- var1 값 -->
        <input type="hidden" name="title" th:value="${response.title}" />

        <!-- var2 값 -->
        <input type="hidden" name="mainText" th:value="${response.mainText}" />

        <!-- varList 값을 반복하며 hidden input으로 전송 -->
        <div th:each="choice, iterStat : ${response.choices}">
            <input type="hidden" name="choices" th:value="${choice}" />
        </div>

        <button id="saveQuestion" type="submit" class="btn btn-outline-primary" name="action" value="save">내 문제집 저장</button>
    </form>

<!--    <div>-->
<!--        <button type="button" class="btn btn-outline-primary" onclick="location.href='/members/new'">SNS 공유</button>-->
<!--        <button type="button" class="btn btn-outline-primary" onclick="location.href='/question/result/save'">내 문제집 저장</button>-->
<!--        <button type="button" class="btn btn-outline-primary" onclick="location.href='/members/new'">PDF 저장</button>-->
<!--    </div>-->


    <script>
        document.getElementById("saveQuestionForm").addEventListener("submit", function(event) {
            let button = document.getElementById("saveQuestion");
            button.disabled = true;  // 폼 제출 후 버튼 비활성화
        });
    </script>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

</body>
</html>