<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">

</head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <!-- 선택된 항목의 세부 정보를 표시 -->
    <div th:if="${bookQuestions != null}">
        <form id="questionUploadForm" method="post" action="/board/post/uploadQuestion">
            <div th:each="bookQuestion, info : ${bookQuestions}">
                <label for="qId" th:text="${bookQuestion.question.id}">Item ID</label><input type="radio" name="qId" id="qId" th:value="${bookQuestion.question.id}"/>
                <div th:text="${bookQuestion.question.title}">Item Name</div>
                <div th:id="'mainText'+${info.index}" th:text="${bookQuestion.question.mainText}">Item Name</div>
                <div th:text="'문제 유형 : ' + ${bookQuestion.question.type}">Item Type</div>
                <div th:text="'문제 생성일 : ' + ${bookQuestion.question.createdDate}">Item CreatedDate</div>
                <div th:text="'문제 공유 수 : ' + ${bookQuestion.question.shareCounter}">Item ShareCounter</div>
            </div>

            <button type="submit" class="btn btn-primary">제출</button>
        </form>
    </div>

    <!-- 항목이 선택되지 않았을 때 메시지 표시 -->
    <div th:if="${bookQuestions == null}">
        <p>No item selected.</p>
    </div>

    <br>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            let idx = 0;

            while(true) {
                const mainTextElement = document.getElementById("mainText" + idx);
                if (!mainTextElement) break;

                const mainText = mainTextElement.innerText
                mainTextElement.innerText = mainText.length >= 70 ? mainText.substring(0, 70) + "..." : mainText;

                idx++;
            }

        })

    </script>

</div> <!-- /container -->

</body>
</html>