<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

    <form role="form" action="/board/new" method="post">

<!--        <div class="form-group">-->
<!--            <label for="type">문제 유형 선택</label>-->
<!--            <select name="type" id="type" class="form-control">-->
<!--                <option value="">원하는 문제 유형을 선택해 주세요.</option>-->
<!--                <option th:each="question : ${questionType}"-->
<!--                        th:value="${question.getKey()}"-->
<!--                        th:text="${question.getValue()}" />-->
<!--            </select>-->
<!--        </div>-->

        <div class="form-group">
            <label for="title">글 제목 입력</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="글 제목을 입력하세요.">
        </div>

        <div class="form-group">
            <label for="content">본문 입력</label>
            <input type="text" name="content" class="form-control" id="content" placeholder="본문 내용을 입력하세요.">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}" />

</div> <!-- /container -->

</body>
</html>