<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="header" th:fragment="bodyHeader">
    <a href="/"><img class="rounded justify-content-sm-start" src="/image/logo.png" style="height: 70px" alt="logo"></a>
    <span class="h1 lead" style="margin-left: 10px">English Test Agent</span>
    <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/board/hot">HOT 게시판</a></li>
        <li class="nav-item"><a class="nav-link" href="/board">문제 공유 게시판</a></li>
        <li class="nav-item"><a class="nav-link" href="/question">문제 생성</a></li>
        <li class="nav-item"><a class="nav-link" href="/myBook">마이 워크북</a></li>
        <li class="nav-item">
            <span sec:authorize="hasRole('USER')">
                <b th:text="${#authentication.name} + '님 환영합니다.'">사용자</b>
                <a class="nav-link" href="/logout">로그아웃</a>
            </span>
            <span sec:authorize="!hasRole('USER')">
                <span th:if="${param.logout}">
                    로그아웃 하셨습니다.
                </span>
                <a class="nav-link" href="/login">로그인</a>
            </span>
        </li>
    </ul>
</div>
