<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div class="jumbotron">
        <h2 class="nav-item">소프트웨어융합학과 2024 종합 설계</h2>
        <br>
        <p class="lead">개발 기간</p>
        <b class="lead">2024.7.15 ~ </b>
        <br>
        <p class="lead">개발진</p>
        <ul>
            <li>최재범 : 팀 리더, LLM AI 모델 튜닝 총괄</li>
            <li>홍성준 : LLM 튜닝, 서버 RestAPI 송수신 설계</li>
            <li>홍서윤 : LLM 모델 학습 및 측정</li>
            <li>박지연 : LLM 성능 지표 수집 및 측정 총괄</li>
            <li>이재욱 : 어플리케이션 개발 총괄, LLM 데이터셋 파일 제작</li>
        </ul>
        <b>위에는 임의로 적었지만.. 기여한 부분, 드러내고 싶은 부분 미리 생각해 주세요!</b>
        <br>
        <b>Special Thanks</b>
        <ul>
            <li>윤진영 : LLM 튜닝 기법 연구</li>
            <li>김유나 : LLM 모델 학습</li>
        </ul>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

</body>
</html>
