<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<script>
    function loading(url, button) {

        // 모든 class="createQuestion"인 버튼들을 비활성화
        const buttons = document.querySelectorAll('.submitButton');
        buttons.forEach(btn => {
            btn.disabled = true;  // 버튼 비활성화
        });

        button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';

        const form = document.getElementById("demoQuestion");
        form.action = url;
        form.submit();
    }
</script>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div class="jumbotron">
        <h1 class="nav-item">ETA</h1>
        <h3 class="nav-item">무료 AI 영어 문제 생성</h3>
        <br>
        <p><b>ETA(English Test Agent)는 대학수학능력시험 영어 영역 스타일의 문제를 AI를 이용하여 자동으로 생성하고, 문제에 해당되는 번역과 실질적인 솔루션을 제공해 주는 서비스입니다.</b></p>
        <p><b>총 13개 유형의 문제를 제작할 수 있고 문제를 사용자들과 공유함으로써 영어 실력을 키워나갈 수 있는 커뮤니티입니다.</b></p>
        <p><b style="color: red">로그인 하시면 원하시는 글을 입력하여 수능 영어 문제를 생성하실 수 있습니다.</b></p>
        <br>
        <p><b>아래 버튼을 눌러 무료로 AI 문제 생성을 해보세요!!</b></p>
        <p><b>You can make your own English-Korean AI Questions for FREE!!</b></p>
        <br>

        <form id="demoQuestion" action="" method="POST">
            <div>
                <button type="submit" class="submitButton btn btn-primary btn-sm" onclick="loading('/createQuestionAllRandom/LLaMA', this)">GET AI Question</button>
            </div>
        </form>

    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

</body>
</html>
