<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script>
    // 버튼을 눌렀을 때 div 전체를 숨기거나 보이게 하는 함수
    function showAnswer(button) {
        const div = document.getElementById('answerDiv');
        if (div.style.display === 'none') {
            div.style.display = 'block';  // div를 보이게 함
            button.innerText = '정답 감추기';
        } else {
            div.style.display = 'none';   // div를 숨김
            button.innerText = '정답 확인하기';
        }
    }
</script>

<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div class="form-group">
        <p type="text" th:text="${question.type}" class="text-xl-left" id="questionType"></p>
        <h3 type="text" th:text="${question.title}" class="text-xl-left" id="question"></h3>
        <p type="text" th:text="${question.mainText}" class="text-xl-left" id="mainText"></p>

        <div th:each="choice : ${question.choices}">
            <b type="text" th:text="${choice.choice}" class="text-xl-left" id="choice"></b>
        </div>
    </div>

    <div class="form-group" id="answerDiv" style="display: none">
        <p type="text" th:text="'정답 : ' + ${question.answer}" class="text-xl-left" id="answer"></p>
        <p type="text" th:text="'해석 : ' + ${question.translation}" class="text-xl-left" id="translation"></p>
        <p type="text" th:text="'해설 : ' + ${question.explanation}" class="text-xl-left" id="explanation"></p>
    </div>

    <!-- 버튼 -->
    <button class="btn btn-info btn-sm" onclick="showAnswer(this)">정답 확인하기</button>
    <a class="btn btn-secondary btn-sm" th:href="@{/myBook}">목록으로 돌아가기</a>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

</body>
</html>
